@import './components/main/Main.scss';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(223deg, rgba(0,0,0,1) 0%, rgba(205,137,12,1) 50%, rgba(59,134,178,1) 100%);
    background-size: cover;
    height: 100vh;
}

