*{
    background-color: #CD890C;
}

.cards{
    height: 30rem !important;
    max-height: 30rem !important;
    margin: 3rem !important;
}

.card-text-wrapper {
    height: 200px; /* Set the maximum height */
    overflow-y: auto; /* Enable vertical scrolling if needed */
  }
  
  .card-text {
    overflow-y: auto; /* Enable scrollbar if needed */
    margin-right: -15px; /* Adjust for the scrollbar width */
    padding-right: 15px; /* Adjust for the scrollbar width */
  }