*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}



.container{
    display: grid;
    height: 100vh;
    grid-template-rows: 10% 30% 5% 10% 15% ;
    grid-template-columns: 30% 40% 30% ;
}

.box{
    border: 1px solid darkblue;
}

ul li{
    display: inline-block;
    vertical-align: middle;
}

.box1{
    display: inline-block;
    vertical-align: middle;
}

a{
    text-decoration: none;
    color: black;
    padding: 0.5rem;
}

.buyutec, .mikrofon, input{
    vertical-align: middle;
}

.box3{
    text-align: end;}

.header-right button{
background-color:#4285f4;
color:white;
border:none;
width:4.5rem;
height:2.5rem;
font-weight: 700;
border-radius: 2px;
}

input{
    border: none;
    outline: none;
    vertical-align: middle;
    width: 80%;;
    margin-bottom: 20px ;
}

.box8{
    border: 1px solid #d3d3d3;
    border-radius: 30px;
    vertical-align: middle;
}

.box8 img{
    border-radius: 30px;
    margin: 5px;
}

.box11{
    padding: 11px 16px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

/* inline elementlerden sadece button width height alır, padding-margin alır */

.box5{
    margin-top: 130px;
    text-align: center;
}

.box1{margin-top: 7px;}