#cards{
    display: flex;
    gap: 1.5rem;
    margin: 4rem;
    width: 60%;
    border: 2px solid red;
    border-radius: 10px;
    background-color: rgb(229, 229, 214);
}

#container{
    display: flex;
    justify-content: center;
    
}

header h1{
    text-align: center;
}

.photo {
    border-radius: 10px;
    flex: 1;
}

.product{
    flex:2;
}

