.container{
    padding: 0;
    margin: 0;
    font-family: "Rubik Distressed", system-ui;
    font-weight: 400;
    font-style: normal;
}

.links{
    background-color: black;
    font-size: 24px !important;
}

.link-button{
    color: black !important;
    font-size: 24px !important;
    background: none !important;
    border: none !important;
    outline: none !important;
}

.link-button:hover{
    background-color: black !important;
    color: #CD890C !important;
}

.navbar {
    max-width:  100% !important; // Navbar'ın maksimum genişliğini de  100% yapar
  }
  
  .container {
    width:  100%; // Container'ın genişliğini  100% yapar
    max-width:  100%; // Container'ın maksimum genişliğini de  100% yapar
  }